@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Regular.otf'),
       url('../assets/fonts/OpenDyslexic-Bold.otf'),
       url('../assets/fonts/OpenDyslexic-BoldItalic.otf'),
       url('../assets/fonts/OpenDyslexic-Italic.otf');
     
  /* Outros formatos de arquivo podem ser adicionados aqui */
}

:root {
  --azul: #55ACEE;
  --verde: #12BD12;
  --laranja: #FF7800;
  --roxo: #800080;
  --vermelho: #F7000F;
  --amarelo: #FFCD32;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'OpenDyslexic', sans-serif;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-color: var(--roxo);
}

.logo {
  width: 50vh;
  margin-top: 20px;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .2));
}

.h1-page{
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  
  margin: auto 2vh 10% 2vh;

}

.button {
  font-family: 'OpenDyslexic', sans-serif;
  width: 20vh;
  height: 7vh;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .4));
}

.button:hover {
  cursor: pointer;
}

.avancar {
  background-color: var(--laranja);
  color: #fff;
}

.avancar:hover {
  background-color: #fff;
  color: var(--laranja);
}

.cadastrar {
  background-color: #fff;
  color: var(--roxo);
}

.cadastrar:hover {
  background-color: var(--roxo);
  color: #fff;
}

.btn-principal {
  width: 40vh;
}

.container-topo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 7vh;

  z-index: 1;
}

.voltar {
  display: flex;
  align-items: center;
}

.voltar-icon img{
  width: 4vh;
  color: #fff;
  margin-bottom: 3vh;

}

.campo-input {
  display: flex;
  align-items: center;
  width: 40vh;
  height: 5vh;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 25px;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .3));

  z-index: -1;
}
.campo-input2{
  display: flex;
  align-items: center;
  width: 40vh;
  height: 5vh;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 100px;
  position:relative;
}

.campo-input2 .selected-option{
  width: 40vh;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .3));
}
.campo-input2 .selected-option .optionsList{
  width: 40vh;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .3));
}
.campo-input img {
  width: 3.4vh;
  margin-left: 1.4vh;
  margin-right: .4vh;
}



.campo-input input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 30vh;
  height: 5vh;
  padding: 10px;
  color: #000;
  font-family: 'OpenDyslexic', sans-serif;
  padding: 0;
}
.campo-input2 img {
  width: 3.4vh;
  margin-left: 1.4vh;
  margin-right: .4vh;
}

.campo-input2 input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 30vh;
  height: 5vh;
  padding: 10px;
  color: #000;
  font-family: 'OpenDyslexic', sans-serif;
  padding: 0;
}

.campo-input input:focus {
outline: none;
}

.dois-campos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vh; /* Defina a largura total desejada para os campos */
}

.dois-campos .campo-input, .dois-campos .campo-input2 {
  width: 19vh; /* Ajuste a largura dos campos com base na largura total e no espaçamento desejado */

  margin-right: 0;
}
.dois-campos .campo-input input{
  width: 9.5vh;
}
.campo-input > :nth-child(3) {
  margin: 0;
}

.campo-input {
  display: flex;
  align-items: center;
  width: 40vh;
  height: 5vh;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 25px;
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, .3));

  z-index: 1000; /* Aumente o valor do z-index para garantir que fique acima dos outros elementos */
}



.campo-input img {
  width: 3.4vh;
  margin-left: 1.4vh;
  margin-right: .4vh;
}

.custom-select {

  
  flex: 1;
}

.selected-option {
  display: flex;
  color: #000;
  font-family: 'OpenDyslexic', sans-serif;

}


.option {
  padding:0;
  width: 18vh;
  border-radius: 15vh;
  cursor: pointer;
}

.option:hover {
  color: var(--roxo);
}
.campo-input input:hover {
  color: var(--roxo);
  cursor: pointer;
}
.campo-input2 .selected-option:hover {
  color: var(--roxo);
  cursor: pointer;
}

.campo-input:hover .options-list {
  display: block;
}


.selected-option {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
}

.campo-input {

  z-index: 1;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}


.option {
  padding: 1vh;
  cursor: pointer;
}

.campo-input:hover .options-list {
  display: block;
}

.campo-input2 img {
  width: 3.4vh;
  margin-left: 1.4vh;
  margin-right: .4vh;

} 

.selected-option > :nth-child(3) {
  margin: 0;
}

#calendar{
  width: 17vh;
  margin: 0;
}

#nasc{
  width: 9vh;
}

.icon-masculino {
  width: 100px; /* Ajuste o valor conforme necessário */
}

.campo-input2 .options-list .option{
  font-size: 14px;
}

.campo-input2 .options-list .option img{
  width: 2vh; margin: 0;
}




.containerCalendar {
  align-items: center;
  display: flex;

  justify-content: center;
  margin: 0 auto;

  width: 100%;
}

.calendar {
  background: #fff;
  border-radius: 4px;
  margin: auto;

  perspective: 1000;
  transition: .9s;
  transform-style: preserve-3d;
  width: 100%;
}

/* Front - Calendar */
.front {
  transform: rotateY(0deg);
}

.current-date {

  display: flex;
  justify-content: space-between;
  padding: 3px 4px;
}

.current-date h1 {
  color: #000;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: #000;
  display: flex;
  justify-content: space-between;
  font-size: 1vh;
  padding: 3px 4px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weeks {
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 0 1px;
}

.weeks div {
  display: flex;
  font-size: .9vh;
  justify-content: space-between;
  margin-bottom: 1vh;
  width: 100%;
}

.last-month {
  opacity: .3;
}

.weeks span {
  padding: .2vh;
}

.weeks span.active {
  background: #f78536;
  border-radius: 50%;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-size: 1.4em;
  color: var(--roxo);
}

.event {
  position: relative;
}

.event:after {
  content: '•';
  color: #f78536;
  font-size: 1.4em;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* Back - Event form */

.back {

  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(73, 114, 133, .6);
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #dfebed;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, .6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
  background: #497285;
  cursor: pointer;
}

.actions button:active {
  background: #5889a0;
  outline: none;
}

a{
  text-decoration: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}