@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Regular.otf'),
       url('../assets/fonts/OpenDyslexic-Bold.otf'),
       url('../assets/fonts/OpenDyslexic-BoldItalic.otf'),
       url('../assets/fonts/OpenDyslexic-Italic.otf');
     
  /* Outros formatos de arquivo podem ser adicionados aqui */
}

:root {
  --azul: #55ACEE;
  --verde: #12BD12;
  --laranja: #FF7800;
  --roxo: #800080;
  --vermelho: #F7000F;
  --amarelo: #FFCD32;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'OpenDyslexic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-color: var(--roxo);
}

.logo {
  width: 15vh;
  margin: auto;
  filter: drop-shadow(.7rem .4rem .25rem rgba(0, 0, 0, .2));
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1) ;
}

.h1-page{
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  margin: auto 2vh 12% 2vh;

}

.button {
  font-family: 'OpenDyslexic', sans-serif;
  width: 20vh;
  height: 7vh;
  border-radius: 2rem;
  border: none;
  font-size: 1.2rem;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  filter: drop-shadow(.7rem .4rem .25rem rgba(0, 0, 0, .3));
}

.button:hover {
  cursor: pointer;
}

.avancar {
  background-color: var(--laranja);
  color: #fff;
}

.avancar:hover {
  background-color: #fff;
  color: var(--laranja);
}







.campo p {
  font-size: .85rem;
  margin-top: .4rem;
  width: 29vh;
  height: 5vh;

}


a{
  text-decoration: none;
}

.campo > :nth-child(3) {
  margin: 0;
  width: 3.1vh;
}

.campo {
  display: flex;
  align-items: center;
  width: 40vh;
  height: 5vh;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 2rem;
  filter: drop-shadow(.7rem .4rem .25rem rgba(0, 0, 0, .3));
  z-index: 1000; /* Aumente o valor do z-index para garantir que fique acima dos outros elementos */
}

.campo input:hover{
  cursor: pointer;
}

.campo img {
  width: 3.4vh;
  margin-left: 1.4vh;
  margin-right: .4vh;
}

.dois-campos {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 34vh; /* Defina a largura total desejada para os campos */
}


.dois-campos .campo-input, .dois-campos .campo-input2 {
  width: 13vh; /* Ajuste a largura dos campos com base na largura total e no espaçamento desejado */
  filter: drop-shadow(.7em .4em .25em rgba(0, 0, 0, .3));
  margin-right: 0;
  justify-content: left;
}

.dois-campos .campo-input, .dois-campos .campo-input2:hover{
  color: var(--roxo);
  cursor: pointer;
}


.opcoes .ultima{
  margin-top: .8em;
  margin-left: 3.5em;
  padding-left: 1em;
  font-size: .6em;
  background-color: #fff;
  border-radius: 2em;
  display: flex;
  align-items: center;
  width: 28vh;
  height: 5vh;
  margin-top: 2vh;
  background-color: #fff;
  border-radius: 2em;
  filter: drop-shadow(.7em .4em .25em rgba(0, 0, 0, .3));

  z-index: 1000;
}

.opcoes .ultima input{
  border: none;
  background-color: #D9D9D9;
  width: 19vh;
  margin-left: .4em;
  border-radius: .3em;
}

.opcoes .ultima input:focus{
  outline: none;
}

.dois-campos .campo-input2 .check{
  margin-left: .4rem;
  width: 1.8vh;
}
.dois-campos .campo-input2 p{
  margin-right: auto;
  font-size: .6em;
}

.campo-input2:nth-child(2){
  margin-left: 2vh;
}

.campo-input2 .anexo{
  width: 2.4vh;
  margin: 0 .2em;
}

.campo-input2 .anexo:hover{
  cursor: pointer;
}


.opcoes{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 5vh;
  margin-top: 0;
}

.campo-input2 img{
  margin: 0;
}

.campo-input2 {
  justify-content: space-between;
}

.dois-campos .campo-input2 .check{
  margin-left: .2em;
  margin-right: .3em;
}

.dois-campos .campo-input2 .check:hover{
  cursor: pointer;
}










