@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Regular.otf'),
       url('../assets/fonts/OpenDyslexic-Bold.otf'),
       url('../assets/fonts/OpenDyslexic-BoldItalic.otf'),
       url('../assets/fonts/OpenDyslexic-Italic.otf');
     
  /* Outros formatos de arquivo podem ser adicionados aqui */
}

:root {
  --azul: #55ACEE;
  --verde: #12BD12;
  --laranja: #FF7800;
  --roxo: #800080;
  --vermelho: #F7000F;
  --amarelo: #FFCD32;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'OpenDyslexic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--roxo);


}

.cabecalho{
  display: flex;
  background-color: var(--azul);
  margin-bottom: .3vh;
  justify-content: center;
}

.cabec{
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  background-color: var(--azul);
  padding-bottom: 1vh;

  width: 50vh;
}

.noti-chat{
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

.noti-chat #notificacao{
  margin-right: 1vh;
}
.linha-stories{
  display: flex;
  justify-content: center;
  background-color: var(--azul);
  width: 100%;
  margin-bottom: .32vh;
}

.stories{
  background-color: var(--azul);
  display: flex;
  width: 100%;
  justify-content: center;
  height: 12vh;
  margin-bottom: .32vh;
  padding: 0;
  padding-top: 2vh;
  width: 50vh;
}


.perfil{
  width: 7vh;
}
.feed{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 76vh;
  margin-bottom: .3vh;
}

.menu{
  padding-top: 1.5vh;
  display: flex;
  background-color: var(--azul);
  width: 100%;
  justify-content: center;
  height: 15vh;
}


.linha-post{
  background-color: var(--azul);
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;  
  margin-bottom: .1em;

}

.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48vh;
  height: 40vh;
  margin-bottom: .3em;
  background-color: var(--azul);

  padding-left: 1.4vh;
}

.cabec-post{
  margin-top: 1vh;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.info{
  display: flex;
  flex-direction: column;
  margin-left: 1vh;
  margin-top: 1vh;

}

.info span{
  font-size: .5em;
  color: var(--roxo);

}

div::-webkit-scrollbar {
  width: 0;  /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: transparent;
  height: 0;

  width: 0;  
  /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* color of the scroll thumb */
  width: 0;  
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}

.infinite-scroll{
  overflow-x: scroll;
  white-space: nowrap;

  padding: 0;

}
.infinite-scroll-feed{
  display: flex;
  overflow-y: scroll;

  height: 66.5vh;
  flex-direction: column;
  overflow-y: scroll;
  white-space: nowrap;
}

.posts{
  width: 100%;
}

.menu div{
  padding: 1vh;
}

.menu div a img{
  width: 6.5vh;
}

.menu div a img:hover{
  transform: scale(1.2);
}

.publicacao{
  margin-left: 3vh;
  font-size: .55em;
  color: var(--roxo);
}

.imagem-post {
  width: 35vh;
  margin: auto;
}

.imagem-post img{
  width: 100%;
}
.reacoes{
  margin-top: 1vh;
}

.reacoes img{
  width: 4.5vh;
}

.comentarios{
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
}

.comentarios span{
  color: var(--roxo);
  font-size:.55em;
}


.post{
  display: flex;
  justify-content: center;
  width: 48vh;
}

.post .news{
  margin: .3vh;
  width: 100%;
}